In [1]:
import pandas as pd
import re

In [2]:
cargo = pd.read_csv("C:\\Users\\Owner\\Desktop\\AMS_DATA\\cargodesc\\ams__cargodesc_2020__202009291500_part_0.csv")

In [3]:
cargo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 5 columns):
 #   Column                       Dtype
---  ------                       -----
 0   identifier                   int64
 1   container_number             object
 2   description_sequence_number  int64
 3   piece_count                  float64
 4   description_text             object
dtypes: float64(1), int64(2), object(2)
memory usage: 381.5+ MB

In [4]:
cargo = cargo.drop_duplicates()

In [5]:
cargo["description_text"] = cargo['description_text'].str.lower()

In [6]:
#Drop rows with no description text
cargo = cargo.dropna(subset=['description_text'])

In [7]:
#remove rows without letters in the description text
letters = r'[A-Za-z]'
has_letters_mask = cargo["description_text"].str.contains(letters)

In [8]:
filtered_cargo = cargo[has_letters_mask]

In [9]:
filtered_cargo["description_text"] = filtered_cargo['description_text'].str.replace('[^\sa-zA-Z]', '')

In [10]:
grouped = filtered_cargo.groupby("description_text", as_index=False)

In [11]:
group_counts = grouped.count()

In [43]:
banana_rows = group_counts[group_counts["description_text"].str.contains('banana')]

In [ ]:
banana_rows = banana_rows.sort_values('identifier', ascending=False)

In [45]:
banana_rows.head(25)

,description_text,identifier,container_number,description_sequence_number,piece_count
1439,"""banana gross w. 19913 kg inc ludes cardboard ...",11,11,11,11
1440,"""banana gross w. 20211 kg inc ludes cardboard ...",31,31,31,31
1441,"""banana gross w. 20962 kg inc ludes cardboard ...",7,7,7,7
1442,"""banana gross w. 20962 kg includes cardboard b...",9,9,9,9
1443,"""banana gross w. 21954 kg inc ludes cardboard ...",4,4,4,4
1444,"""banana gross w. 22045 kg inc ludes cardboard ...",2,2,2,2
1445,"""banana gross w. 22134 kg inc ludes cardboard ...",2,2,2,2
1446,"""banana gross w. 22135 kg inc ludes cardboard ...",1,1,1,1
1447,"""banana gross w. 22587 kg in cludes cardboard ...",1,1,1,0
1448,"""banana gross w. 22587 kg inc ludes cardboard ...",80,80,80,0
1449,"""banana gross w. 24845 kg inc ludes cardboard ...",1,1,1,1
1516,"""boxes of fresh green cavendis h organic banan...",2,2,2,2
2881,"""freight collect"" to be continued.... descript...",4,4,4,0
29850,"""shipper's load, count & seal"" (763ctns) cy / ...",1,1,1,1
32762,"""shipper's load, count & sealed"" 2 x 40'hc con...",2,2,2,2
34724,"""spatula beads wood 5 colors w/parts umbrella ...",1,1,1,1
37076,#4011/fresh bananas 960 piece(s) 00960 ctn #40...,1,1,1,1
37077,#4011/fresh bananas product o f guatemala vent...,2,2,2,2
37078,#4011/fresh bananas product of guatemala vent ...,1,1,1,1
37079,#4011/fresh bananas product of guatemala vent ...,1,1,1,1
37080,#4011/fresh bananas product of guatemala vent ...,1,1,1,1
37081,#4011/fresh bananas product of guatemala vent ...,1,1,1,1
37082,#4011/fresh bananas product of guatemala vent ...,1,1,1,1
37083,#4011/fresh bananas product of guatemala vent ...,1,1,1,1
37084,#4011/fresh bananas product of guatemala vent ...,1,1,1,1

In [12]:
sorted = group_counts.sort_values(by="identifier", ascending=False)

In [13]:
sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4044642 entries, 1660835 to 4044641
Data columns (total 5 columns):
 #   Column                       Dtype
---  ------                       -----
 0   description_text             object
 1   identifier                   int64
 2   container_number             int64
 3   description_sequence_number  int64
 4   piece_count                  int64
dtypes: int64(4), object(1)
memory usage: 185.1+ MB

In [14]:
empty_container_pattern = r'.*empty.*'
filtered_cargo = sorted[~(sorted['description_text'].str.contains(empty_container_pattern))]

In [15]:
none_pattern = r'.*none.*'
filtered_cargo = filtered_cargo[~(sorted['description_text'].str.contains(none_pattern))]

C:\Users\Owner\AppData\Local\Temp\ipykernel_3600\3221904309.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_cargo = filtered_cargo[~(sorted['description_text'].str.contains(none_pattern))]

In [16]:
pattern = r'.*the same.*'
filtered_cargo = filtered_cargo[~(sorted['description_text'].str.contains(pattern))]

C:\Users\Owner\AppData\Local\Temp\ipykernel_3600\3998174313.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_cargo = filtered_cargo[~(sorted['description_text'].str.contains(pattern))]

In [ ]:
filtered_cargo.head(50)

In [18]:
filtered_cargo = filtered_cargo.rename(columns={"identifier": "count"})

In [20]:
filtered_cargo = filtered_cargo[['description_text', 'count']]

In [32]:
filtered_cargo.head()

             description_text  count
1243683             car parts  29492
1776060              footwear  26220
1147694  bmw automotive parts  24364
1047416      automotive parts  20430
3695751                 tires  20040

In [33]:
parts_row = filtered_cargo[filtered_cargo['description_text'].str.contains(r'parts')]

In [ ]:
parts_row["description_text"] = parts_row["description_text"].str.replace('new', '')
parts_row["description_text"] = parts_row["description_text"].str.replace('spare', '')
parts_row["description_text"] = parts_row["description_text"].str.replace('\s+', ' ')

In [36]:
groups = parts_row.groupby("description_text", as_index=False)

In [41]:
parts_row = groups.sum('count').sort_values('count', ascending=False)

In [42]:
parts_row.head(25)

                                         description_text  count
76376                                           car parts  29492
71903                                bmw automotive parts  24364
61341                                    automotive parts  20432
47457                                          auto parts   7646
10656                       parts/accessories/assembli es   2205
130571  parts and accessories of the motor vehicles o ...   2052
373                                            auto parts   2019
52234                       auto parts for truck assembly   1976
1716                                    automotive  parts   1785
56944                                   automotive  parts   1723
46041                                         auto  parts   1499
99153                                     furniture parts   1495
80547                                 ckd component parts   1418
127974                                  package car parts   1288
4663                       ckd parts for vehicle assembly   1269
4873                                                parts   1220
107346                              hydraulic pumps-parts   1166
173026                              toyota genuine  parts   1125
180007                                      vehicle parts   1124
41668                 agricultural tractor parts 87089990   1117
56875   automobile/truck service replacemen t and ass ...   1103
4490                     ckd parts for  vehicles assembly   1093
174603                                     tractor  parts   1061
82698                                      computer parts   1042
157302                refrig. and a/c equipment and parts   1025