In [1]:
import pandas as pd

In [2]:
header =  pd.read_csv("C:\\Users\\Owner\\Desktop\\AMS_DATA\\header\\ams__header_2020__202009291500_part_0.csv")

C:\Users\Owner\AppData\Local\Temp\ipykernel_16628\2079392627.py:1: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  header =  pd.read_csv("C:\\Users\\Owner\\Desktop\\AMS_DATA\\header\\ams__header_2020__202009291500_part_0.csv")

In [ ]:
header.head()

In [16]:
ports_counts = header.groupby("port_of_unlading")\
                    .count()\
                    .reset_index()

In [ ]:
port_counts.head(30)

In [14]:
ports_counts = ports_counts['port_of_unlading']

In [ ]:
ports_counts.reset_index()

In [20]:
import re

In [21]:
ports_counts = ports_counts[ports_counts['port_of_unlading'].str.contains('[a-z,A-Z]') ]

In [ ]:
ports_counts.head()

In [24]:
ports = ports_counts["port_of_unlading"]

In [ ]:
ports.head()

In [27]:
ports["first letter"] = ports.str[0]

In [30]:
df = pd.DataFrame(ports)

In [31]:
df.head()

                  port_of_unlading
5             Aberdeen, Washington
6  Addison Airport, Addison, Texas
7                 Albany, New York
8          Albuquerque, New Mexico
9                 Alpena, Michigan

In [43]:
df['state'] = df['port_of_unlading'].astype('string').apply(lambda name: name.split(',')[-1])

In [50]:
df['city'] = df['port_of_unlading'].astype('string').apply(lambda name: name.rsplit(',', 1)[0])

In [51]:
splits = df['city']

In [52]:
splits.head(40)

5                     Aberdeen
6     Addison Airport, Addison
7                       Albany
8                  Albuquerque
9                       Alpena
10                   Anacortes
11                   Anchorage
12                   Annapolis
13          Ashtabula/Conneaut
14                     Atlanta
15                   Baltimore
16                      Bangor
17                 Baton Rouge
18      Beaufort Morehead City
19                    Beaumont
20                  Bellingham
21                      Boston
22                 Brownsville
23                   Brunswick
24       Buffalo Niagara Falls
25                      Camden
26            Carquinez Strait
27                  Charleston
28                  Charleston
29            Charlotte Amalie
30                   Charlotte
31                 Chattanooga
32                     Chester
33                     Chicago
34               Christiansted
35                  Cincinnati
36                   Cleveland
37                    Columbia
38                    Columbus
39                    Coos Bay
40              Corpus Christi
41                    Crockett
42    Dallas/Ft. Worth Airport
43                      Dayton
44                     Detroit
Name: city, dtype: object

In [55]:
df.head()

,port_of_unlading,first,state,city
5,"Aberdeen, Washington",A,Washington,Aberdeen
6,"Addison Airport, Addison, Texas",A,Texas,"Addison Airport, Addison"
7,"Albany, New York",A,New York,Albany
8,"Albuquerque, New Mexico",A,New Mexico,Albuquerque
9,"Alpena, Michigan",A,Michigan,Alpena

In [58]:
df = df.drop(columns=["first", "port_of_unlading"])

In [59]:
df.head()

         state                      city
5   Washington                  Aberdeen
6        Texas  Addison Airport, Addison
7     New York                    Albany
8   New Mexico               Albuquerque
9     Michigan                    Alpena