In [1]:
import pandas as pd
import re

In [2]:
cargo = pd.read_csv("C:\\Users\\Owner\\Desktop\\AMS_DATA\\cargodesc\\ams__cargodesc_2020__202009291500_part_0.csv")

In [15]:
del(cargo)
header =  pd.read_csv("C:\\Users\\Owner\\Desktop\\AMS_DATA\\header\\ams__header_2020__202009291500_part_0.csv")

MemoryError: Unable to allocate 128. KiB for an array with shape (16384,) and data type float64

In [15]:
group_by_id = cargo.groupby('identifier')

In [16]:
group_by_id_count = group_by_id.count()

In [20]:
group_by_id_count = group_by_id_count.sort_values('container_number', ascending=False)

In [ ]:
group_by_id_count.head(50)

In [28]:
def count_descriptions_in_group(group):
    return group['description_text'].nunique()

In [30]:
result = group_by_id.apply(count_descriptions_in_group).reset_index()

In [42]:
result = result.sort_values(by=0, ascending=False)

In [43]:
result = result.rename(columns={0: "unique_description_count"})

In [39]:
unique_description_counts.to_csv("unique_description_counts.csv", sep=',', header=True)

In [46]:

result.to_csv("unique_description_counts.csv", sep=',', header=True)

In [49]:
unique_description_counts = result

In [56]:
result = cargo[cargo['identifier'] == 2020012767528	]

In [ ]:

unique_description_counts[unique_description_counts['unique_description_count'] > 2].shape[0]

In [12]:
result = cargo[cargo['identifier'] == 2020012132230]

In [13]:
result.head()

,identifier,container_number,description_sequence_number,piece_count,description_text
3397097,2020012132230,BMOU1446133,1,18.0,TEMPERED GLASS
3397098,2020012132230,TRHU1494870,1,18.0,TEMPERED GLASS HS CODE:7007190000
3397099,2020012132230,FCIU6554740,1,17.0,TEMPERED GLASS HS CODE:7007190000
3397100,2020012132230,XINU1299941,1,18.0,TEMPERED GLASS HS CODE:7007190000
3397101,2020012132230,TCKU1752826,1,18.0,TEMPERED GLASS HS CODE:7007190000